.box{
    display: inline-grid;
    padding: 1%;
    box-sizing: border-box;
    width: 50%;
}
.bigL{
    padding-left: 20px;
    padding-right: 30px;
    font-size: 500%;
    display: block;
    float: left;
}

.imgR{
    float: right;
    margin: 0 1.5%;

}
section{
    border: 1px solid black;
    float: left;
}
.group{
    width: 100%;
}
.athugid{
padding-left: 20%;
background-color: yellow;
}

h4{
    text-align: right;
}