*{
    box-sizing: border-box;
}
@media screen and (min-width: 60em){
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0000ff;
    background: linear-gradient(to bottom, cyan 50%, white 100%);
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bessir{
    margin-left: 15%;
    margin-right: 15%;
    list-style-type: none;
    display: grid;
    color: red;
    grid-template-columns: auto auto auto;
}

a:visited{
    color: gray;
}

.yessir{
    background-color: yellowgreen;
    height: 60%;
    font-size: 18px;
    padding-left: 15%;
    padding-right: 15%;
}

.blet{
    grid-area: b;
    display: grid;
}

.vekefn{
    grid-area: v;
    display: grid;
    top: 0;
    right: 1;
    position: absolute;
    text-align: right;
}

.topnav{
    grid-area: t;
}

h1{
    font-size: 36px;
    color: red;
}

header{
    margin-left: 15%;
    margin-right: 15%;
    color: burlywood;
    display: grid;
    grid-template-areas: 
    'b b v'
    'b b t'
    'b b t';
}

.listi{
    list-style-type: none;
}

.beig{
    display: grid;
    grid-template-columns: auto auto;
}

blockquote{
    grid-area: bq;
    background: rgba(255, 255, 255, 0.7);
}

.ör{
    font-size: 26px;
    position: absolute;
    
    color: violet;
    border: 2px solid violet;
    float:right;
}

.copy{
    text-align: center;
}

.p{
    display: grid;
    background-color: yellow;
    border: 3px solid yellowgreen;
    font-size: 16px;
    text-align: center;
    
}
.dip{
    padding-left: 15%;
    padding-right: 15%;
    background: rgba(255, 255, 255, 0.5);
}
.innermenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
}
@media screen and (min-width: 48em) and (max-width: 60em){
    html {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: #0000ff;
        background: linear-gradient(to bottom, cyan 50%, white 100%);
    }
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .bessir{
        list-style-type: none;
        display: grid;
        color: red;
        grid-template-columns: auto auto auto;
    }
    
    a:visited{
        color: gray;
    }
    
    .yessir{
        background-color: yellowgreen;
        height: 60%;
        font-size: 18px;
        padding-top: 30px;
    }
    
    .blet{
        grid-area: b;
        display: grid;
    }
    
    .vekefn{
        grid-area: v;
        display: grid;
        top: 0;
        right: 1;
        position: absolute;
        text-align: right;
    }
    
    .topnav{
        grid: t;
    }
    
    h1{
        font-size: 36px;
        color: red;
    }
    
    header{
        color: burlywood;
        display: grid;
        grid-template-areas: 
        'b b v'
        'b b t'
        'b b t';
    }
    
    .listi{
        list-style-type: none;
    }
    
    .beig{
        display: grid;
        grid-template-columns: auto auto;
    }
    
    blockquote{
        grid-area: bq;
        background: rgba(255, 255, 255, 0.7);
    }
    
    .ör{
        font-size: 26px;
        position: absolute;
        
        color: violet;
        border: 2px solid violet;
        float:right;
    }
    
    .copy{
        text-align: center;
    }
    
    .p{
        display: grid;
        background-color: yellow;
        border: 3px solid yellowgreen;
        font-size: 16px;
        text-align: center;
        
    }
    .dip{
        background: rgba(255, 255, 255, 0.5);
    }
    .innermenu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 37.5em) and (max-width: 48em){
    html {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: #0000ff;
        background: linear-gradient(to bottom, cyan 50%, white 100%);
    }
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .bessir{
        list-style-type: none;
        display: grid;
        color: red;
        grid-template-columns: auto auto auto;
    }
    
    a:visited{
        color: gray;
    }
    
    .yessir{
        background-color: yellowgreen;
        height: 60%;
        font-size: 18px;
    }
    
    .blet{
        grid-area: b;
        display: grid;
    }
    
    .vekefn{
        grid-area: v;
        display: grid;
        top: 0;
        right: 1;
        position: absolute;
        text-align: right;
    }
    
    .topnav{
        grid: t;
    }
    
    h1{
        font-size: 26px;
        color: red;
    }
    
    header{
        color: burlywood;
        display: grid;
        grid-template-areas: 
        'b b v'
        'b b t';
    }
    
    .listi{
        list-style-type: none;
    }
    
    .beig{
        display: grid;
        grid-template-columns: auto;
    }
    
    blockquote{
        grid-area: bq;
        background: rgba(255, 255, 255, 0.7);
    }
    
    .ör{
        font-size: 26px;
        position: absolute;
        
        color: violet;
        border: 2px solid violet;
        float:right;
    }
    
    .copy{
        text-align: center;
    }
    
    .p{
        display: grid;
        background-color: yellow;
        border: 3px solid yellowgreen;
        font-size: 14px;
        text-align: center;
        
    }
    .dip{
        background: rgba(255, 255, 255, 0.5);
    }
    .innermenu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 0em) and (max-width: 37.5em){
    html {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: #0000ff;
        background: linear-gradient(to bottom, cyan 50%, white 100%);
    }
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .bessir{
        list-style-type: none;
        display: grid;
        color: red;
        grid-template-columns: auto auto;
    }
    
    a:visited{
        color: gray;
    }
    
    .yessir{
        background-color: yellowgreen;
        height: 75%;
        font-size: 18px;
    }
    
    .blet{
        grid-area: b;
        display: grid;
    }
    
    .vekefn{
        grid-area: v;
        display: grid;
        top: 0;
        right: 1;
        position: absolute;
        text-align: right;
    }
    
    .topnav{
        grid: t;
    }
    
    h1{
        font-size: 36px;
        color: red;
    }
    
    header{
        color: burlywood;
        display: grid;
        grid-template-areas: 
        'b b v'
        'b b t';
    }
    
    .listi{
        list-style-type: none;
    }
    
    .beig{
        display: grid;
        grid-template-columns: auto;
    }
    
    blockquote{
        grid-area: bq;
        background: rgba(255, 255, 255, 0.7);
    }
    
    .ör{
        font-size: 26px;
        position: absolute;
        
        color: violet;
        border: 2px solid violet;

    }
    
    .copy{
        text-align: center;
    }

    .dip{
        background: rgba(255, 255, 255, 0.5);
    }
    
    .p{
        display: grid;
        background-color: yellow;
        border: 2px solid yellowgreen;
        font-size: 14px;
        text-align: center;
        
    }
    .innermenu{
        display: grid;
        grid-template-columns: 1fr;
    }
}