@media screen and (min-width: 0em) and (max-width: 37.5em){
    .containt{
        border: 1px solid black;
        display: grid;
        grid-template-areas: 
        'h'
        'a'
        'as1'
        'as2'
        'n'
        'f'
    }
    .topnav{
        grid-area: n;
        border: 1px solid black;
    }
    .topnav > ul{
        display: grid;
        grid-template-columns: auto auto auto;
        list-style-type: none;
        text-align: center;
    }
    .topmenu{grid-area: ten;}
    .header{
        grid-area: h;
        border: 1px solid black;
        text-align: center;
        padding-bottom: 5px;
        font-family: lobster;
    }
    
    .footer{
        grid-area: f;
        border: 1px solid black;
    }
    blockquote{
        border: 1px solid black;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
    }
    .art{
        grid-area: a;
        border: 1px solid black;
    }
    .as1{
        grid-area: as1;
        border: 1px solid black;
    }
    .as2{
        grid-area: as2;
        border: 1px solid black;
    }
}

@media screen and (min-width: 37.5em) and (max-width: 48em){
    .containt{
        border: 1px solid black;
        display: grid;
        grid-template-areas: 
        'n n'
        'h h'
        'a a'
        'as1 as2'
        'f f'
    }
    .topnav{
        grid-area: n;
        border: 1px solid black;
    }
    .topnav > ul{
        display: grid;
        grid-template-columns: auto auto auto;
        list-style-type: none;
        text-align: center;
    }
    .topmenu{grid-area: ten;}
    .header{
        grid-area: h;
        border: 1px solid black;
        text-align: center;
        padding-bottom: 5px;
        font-family: lobster;
    }
    
    .footer{
        grid-area: f;
        border: 1px solid black;
    }
    blockquote{
        border: 1px solid black;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
    }
    .art{
        grid-area: a;
        border: 1px solid black;
    }
    .as1{
        grid-area: as1;
        border: 1px solid black;
    }
    .as2{
        grid-area: as2;
        border: 1px solid black;
    }
}

@media screen and (min-width: 48em) and (max-width: 60em){
    .containt{
        border: 1px solid black;
        display: grid;
        grid-template-areas: 
        'n n'
        'h h'
        'a as1'
        'a as2'
        'f f'
    }
    .topnav{
        grid-area: n;
        border: 1px solid black;
    }
    .topnav > ul{
        display: grid;
        grid-template-columns: auto auto auto;
        list-style-type: none;
        text-align: center;
    }
    .topmenu{grid-area: ten;}
    .header{
        grid-area: h;
        border: 1px solid black;
        text-align: center;
        padding-bottom: 5px;
        font-family: lobster;
    }
    
    .footer{
        grid-area: f;
        border: 1px solid black;
    }
    blockquote{
        border: 1px solid black;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
    }
    .art{
        grid-area: a;
        border: 1px solid black;
    }
    .as1{
        grid-area: as1;
        border: 1px solid black;
    }
    .as2{
        grid-area: as2;
        border: 1px solid black;
    }
}
@media screen and (min-width: 60em){
    .containt{
        margin-right: 10%;
        margin-left: 10%;
        border: 1px solid black;
        display: grid;
        grid-template-areas: 
        'h h n'
        'art art art'
        'as1 as2 as2'
        'f f f';
    }
    .topnav{
        grid-area: n;
        border: 1px solid black;
        width: 1fr;
    }
    .topnav > ul{
        display: grid;
        grid-template-columns: auto;
        list-style-type: none;
    }
    .topmenu{grid-area: ten;}
    .header{
        display: grid;
        grid-area: h;
        border: 1px solid black;
        text-align: center;
        padding-bottom: 5px;
        font-family: lobster;
    }
    .footer{
        grid-area: f;
        border: 1px solid black;
    }
    blockquote{
        border: 1px solid black;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
    }
    .art{
        grid-area: art;
        border: 1px solid black;
    }
    .as1{
        grid-area: as1;
        border: 1px solid black;
    }
    .as2{
        grid-area: as2;
        border: 1px solid black;
    }
    .virkur{
        color: darkcyan;
    }
}
html{
    background-color: #F0F0FA;
}
.virkur{
    color: green;
}