em { color:blue; }
h1 { color:green; }
strong { color:maroon; }
h2 { color:maroon; }
a:link{color:green}
a:visited{color:hotpink}
a:hover{color:#7b5c00}
a:active{color:yellowgreen}

div {
    width: 30px;
    border: 15px solid rgb(255, 0, 0);
    padding: 50px;
    margin: 20px;
  }

body  {
    background-color: #ffffff;
    width: 800px;
    margin: 0px auto;
    border: 1px solid red; /* width, style, colour */
    }